<div class="row">
  <div class="col-sm">
    <h4 id="smh">Social Media</h4>
    <div *ngFor="let item of links.socialLinks; let i = index">
      <p>{{item.name}} @</p>
      <p><a href="{{item.url}}">{{item.url}}</a></p>
    </div>
  </div>
  <div class="col-sm">
    <h4 id="mh">Media</h4>
    <div *ngFor="let item of links.mediaLinks; let i = index">
      <p>{{item.name}} @</p>
      <p><a href="{{item.url}}">{{item.url}}</a></p>
    </div>
  </div>
  <div class="col-sm">
    <h4 id="ph">Productivity</h4>
    <div *ngFor="let item of links.productivityLinks; let i = index">
      <p>{{item.name}} @</p>
      <p><a href="{{item.url}}">{{item.url}}</a></p>
    </div>
  </div>
  <div class="col-sm">
    <h4 id="nh">News</h4>
    <div *ngFor="let item of links.newsLinks; let i = index">
      <p>{{item.name}} @</p>
      <p><a href="{{item.url}}">{{item.url}}</a></p>
    </div>
  </div>
</div>