.centerme
    text-align: center

.jumbotron.light
    background-color: white
    color: black

.jumbotron.dark
    background-color: #222222
    color: white

.jumbotron.dracula
    background-color: #20212B
    color: white

a
    color: #BBBBBB
    text-decoration: none

a:hover
    color: #FF79C6
