<div class="jumbotron jumbotron-fluid"
    [ngClass]="{'dark' : themeSetting == 'dark', 'light' : themeSetting == 'light', 'dracula': themeSetting == 'dracula'}">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="centerme">
            <div *ngIf="weatherLoaded == true && timeLoaded == true; else loading">
                <h1>
                    Hello There
                </h1>
                <br>
                <app-weather-display></app-weather-display>
                <app-datetime></app-datetime>
                <app-searchbar></app-searchbar>
                <br>
                <app-links></app-links>
            </div>
            <ng-template #loading>
                <h1>Loading...</h1>
                <p>If you are experiencing issues loading, please ensure your API key is set properly in the key.json file.</p>
            </ng-template>
        </div>
    </div>
</div>


<router-outlet></router-outlet>