<a href="#" class="settings-button" id="sbtn1" (click) = "toggleSidebar()">
  <h3><i class="fa fa-bars" aria-hidden="true"></i></h3>
</a>

<div class="sidebar" [ngClass]="{closed : isClosed}" id="sidebar">
  <p>
    <a href="#" class="settings-button" (click) = "toggleSidebar()"><i class="fa fa-times"
        aria-hidden="true"></i></a>
  </p>
  <h3>Settings</h3>
  <hr id="bar">

  <div class="radio-group">
    <label for="celsiusRadio" class="radio">
      <p class="radio-label">Degree Mode</p>
      <input [checked]="celsiusRadio" type="radio" name="degreegrp" id="celsiusRadio" onclick="temperatureToggle(event)" class="hidden" />
      <span class="label"></span>Celsius
    </label>

    <label for="fahrenheitRadio" class="radio">
      <input [checked]="fahrenheitRadio" type="radio" name="degreegrp" id="fahrenheitRadio" onclick="temperatureToggle(event)"
        class="hidden" />
      <span class="label"></span>Fahrenheit
    </label>
  </div>

  <div class="toggle">
    <p class="settings-label">Both Degrees</p>
    <input type="checkbox" id="bothDegreesToggle" class="cbx hidden" onclick="bothDegreesToggleFn(event)" />
    <label for="bothDegreesToggle" class="toggle-btn lbl"></label>
  </div>

  <div class="radio-group">
    <label for="lightRadio" class="radio">
      <p class="radio-label">Theme</p>
      <input [checked]="lightRadio" type="radio" name="themegrp" id="lightRadio" onclick="toggleTheme(event)" class="hidden" />
      <span class="label"></span>Light Mode
    </label>

    <label for="darkRadio" class="radio">
      <input [checked]="darkRadio" type="radio" name="themegrp" id="darkRadio" onclick="toggleTheme(event)" class="hidden" />
      <span class="label"></span>Dark Mode
    </label>

    <label for="draculaRadio" class="radio">
      <input [checked]="draculaRadio" type="radio" name="themegrp" id="draculaRadio" onclick="toggleTheme(event)" class="hidden" />
      <span class="label"></span>Dracula Theme
    </label>

  </div>
</div>