.search-bar
    border-radius: 5px
    padding: 10px
    -webkit-transition: 0.5s
    transition: 0.5s

.search-bar.light
    color: #000000
    background-color: #cfcfcf
    border-color: #a7a7a7
    border-left-color: #a7a7a7

.search-bar.dark
    color: #ffffff
    background-color: #292929
    border-color: #555555
    border-left-color: #555555

.search-bar.dracula
    color: #ffffff
    background-color: #2A2C39
    border-color: #474B63
    border-left-color: #474B63

hr.dracula
  background-color: white

hr.dark
  background-color: white

hr.light
  background-color: black

button.dracula
  background-color: #2A2C39
  color: white

button.dark
  background-color: #292929
  color: white

button.light
  background-color: #cfcfcf
  color: black

.light
  a
    color: rgb(44, 44, 44)

  a:hover
    color: #ff33cc

.dark
  a
    color: #BBBBBB

  a:hover
    color: #ff33cc

.dracula
  a
    color: #BBBBBB

  a:hover
    color: #FF79C6

.lds-ellipsis 
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.lds-ellipsis div 
  position: absolute
  top: 27px
  width: 11px
  height: 11px
  border-radius: 50%
  background: #fff
  animation-timing-function: cubic-bezier(0, 1, 1, 0)

.lds-ellipsis div:nth-child(1) 
  left: 6px
  animation: lds-ellipsis1 0.6s infinite

.lds-ellipsis div:nth-child(2) 
  left: 6px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(3) 
  left: 26px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(4) 
  left: 45px
  animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1 
  0% 
    transform: scale(0)
  
  100% 
    transform: scale(1)
  

@keyframes lds-ellipsis3 
  0% 
    transform: scale(1)
  
  100% 
    transform: scale(0)
  

@keyframes lds-ellipsis2 
  0% 
    transform: translate(0, 0)
  
  100% 
    transform: translate(19px, 0)