/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

html, body
    background-color: #222222
    color: white
    font-family: "Hack"
    overflow: hidden
    height: 100%

.jumbotron
    background-color: #222222
    color: white 

// Just kinda going off of the bootstrap font values found earlier.

a
    color: #BBBBBB
    text-decoration: none

a:hover
    color: #FF79C6