@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

html, body
    font-family: "Hack"
    overflow: hidden
    height: 100%

.jumbotron
    height: 100%
    padding-top: 50px
     -webkit-transition: 0.5s
    transition: 0.5s
