@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

html, body
    font-family: "Hack"
    overflow: hidden
    height: 100vh

.jumbotron
    height: 100vh
    position: relative
    padding-top: 50px
     -webkit-transition: 0.5s
    transition: 0.5s
    overflow-y: auto
    overflow-x: hidden

.jumbotron::-webkit-scrollbar
    width: 10px

.jumbotron::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    background-color: #aaaaaa

.jumbotron::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)